.recent {
      border: 1px solid #f5f5f5;
      border-radius: 10px;
      padding: 15px;
      margin-top: 25px;
      &-heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            a {
                  color: #29a073;
                  font-weight: 600;
                  text-decoration: none;
                  &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                  }
            }
      }
      .tables {
            table {
                  width: 100%;
                  tr {
                        border: 1px solid #f5f5f5;
                        td {
                              border-bottom: 1px solid #f5f5f5;
                              padding: 10px 0;
                        }
                        th {
                              color: #929eae;
                              margin: 15px 0;
                              text-align: left;
                        }
                  }
            }
      }
}