nav {
      flex: 15%;
      min-height: 1000px;
      background-color: #fafafa;
      .logo {
            margin: 15px 0 0 20px;
      }
      ul {
            list-style-type: none;
            margin: 40px 10px;
            padding: 0;
            li {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin: 10px 0;
                  a {
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        color: #929eae;
                        text-decoration: none;
                        font-weight: 600;
                        padding: 10px 16px;
                        .onHover {
                              display: none;
                        }
                  }
                  p {
                        padding-left: 20px;
                  }
                  &:hover {
                        cursor: pointer;
                  }
            }
            .active {
                  background-color: #c8ee44;
                  border-radius: 8px;
                  color: #1b212d;
                  font-weight: 600;
                  .offHover {
                        display: none;
                  }
                  .onHover {
                        display : unset;
                  }
            }
      }
}
